@use "sass:map";

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}
/*----text alignement----*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*----font weight----*/

.font-w-extra-thin {
  font-weight: 100;
}

.font-w-extra-light {
  font-weight: 200;
}

.font-w-light {
  font-weight: 300;
}

.font-w-regular {
  font-weight: 400;
}

.font-w-semi-medium {
  font-weight: 500;
}

.font-w-semi-bold {
  font-weight: 600;
}

.font-w-bold {
  font-weight: 700;
}

.font-w-extra-bold {
  font-weight: 800;
}

.font-w-Black {
  font-weight: 900;
}

/*----font color----*/
.font-light {
  color: $light-grey;
}

.font-brand-color {
  color: $brand-color;
}

.font-mid-grey-color {
  color: $mid-grey;
}

.font-semi-dark-grey {
  color: $semi-dark-grey;
}

.font-danger-color {
  color: $danger;
}

.font-success-color {
  color: $success;
}

.font-warning-color {
  color: $warning;
}

.font-info-color {
  color: $info;
}

.font-none {
  color: rgba(#3e3d3d, 0%);
}

.font-brand-gradient-color {
  @include gradient-text(0deg, $brand-color, $orange-color);
}

.font-outlined {
  color: $light-grey;
  text-shadow: -1px -1px 0 $text-color, 1px -1px 0 $text-color,
    -1px 1px 0 $text-color, 1px 1px 0 $text-color !important;
}

/*----font size----*/
.font-big-hero {
  font-size: 6rem;
  line-height: 0.9;
  margin: 2rem 0;
}

.font-h1-unstyled {
  font-size: inherit;
  font-weight: normal;
}

.h2 {
  font-size: 3.5rem;
}

.h3 {
  font-size: 2rem;
}

.font-big-braket-top {
  font-size: 10rem;
  line-height: 0;
}

.font-big-braket-bottom {
  font-size: 10rem;
}

@media (max-width: map.get($breakpoints, "tablet")) {
  .text-center-on-mobile {
    text-align: center;
  }

  .font-big-hero {
    font-size: 4rem;
  }

  .h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: map.get($breakpoints, "mobile large")) {
  .font-big-hero {
    font-size: 3rem;
  }

  .h2 {
    font-size: 1.8rem;
  }
}
