@use "sass:map";

/**
 * Basic typography style for copy text
 */
body {
  font: normal 125% / 1.4 $text-font-stack;
}
/*----text alignement----*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*----font weight----*/

.font-w-extra-thin {
  font-weight: 100;
}

.font-w-extra-light {
  font-weight: 200;
}

.font-w-light {
  font-weight: 300;
}

.font-w-regular {
  font-weight: 400;
}

.font-w-semi-medium {
  font-weight: 500;
}

.font-w-semi-bold {
  font-weight: 600;
}

.font-w-bold {
  font-weight: 700;
}

.font-w-extra-bold {
  font-weight: 800;
}

.font-w-Black {
  font-weight: 900;
}

/*----font color----*/
.font-secondary-color {
  @include themed {
    color: t("secondary-color");
  }
}

.font-brand-color {
  color: $brand-color;
}

.font-danger-color {
  @include themed {
    color: t("danger-color");
  }
}

.font-success-color {
  @include themed {
    color: t("success-color");
  }
}

.font-warning-color {
  @include themed {
    color: t("warning-color");
  }
}

.font-info-color {
  @include themed {
    color: t("info-color");
  }
}

.font-none {
  @include themed {
    color: rgba(t("secondary-color"), 0%);
  }
}

.font-brand-gradient-color {
  @include gradient-text(0deg, $brand-color, $orange-color);
}

.font-outlined {
  @include themed {
    color: t("primary-color");
    text-shadow: -1px -1px 0 t("secondary-color"),
      1px -1px 0 t("secondary-color"), -1px 1px 0 t("secondary-color"),
      1px 1px 0 t("secondary-color") !important;
  }
}

.font-animated-gradient-color {
  @include gradient-text-four-colors(20deg, #ee5425, #e71364, #089acf, #0bcea0);
  background-size: 200% 200%;
  animation: gradient-bg 10s ease infinite;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*----font size----*/
.font-big-hero {
  font-size: 6rem;
  line-height: 0.9;
  margin: 2rem 0;
}

.font-h1-unstyled {
  font-size: inherit;
  font-weight: normal;
}

.h2 {
  font-size: 3.5rem;
}

.h3 {
  font-size: 2rem;
}

.font-big-braket-top {
  font-size: 10rem;
  line-height: 0;
}

.font-big-braket-bottom {
  font-size: 10rem;
}

@media (max-width: map.get($breakpoints, "tablet")) {
  .text-center-on-mobile {
    text-align: center;
  }

  .font-big-hero {
    font-size: 4rem;
  }

  .h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: map.get($breakpoints, "mobile large")) {
  .font-big-hero {
    font-size: 3rem;
  }

  .h2 {
    font-size: 1.8rem;
  }
}
