@use "../themes/themes";

footer {
  .logo {
    width: 7rem;
    margin: auto;
    display: block;
    rect {
      @include themes.themed {
        fill: themes.t("secondary-color");
      }
    }
  }
}
