@use "sass:color";
@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../themes/themes";

@use "sass:map";

.link {
  cursor: pointer;
  text-decoration: none;
  color: variables.$brand-color;
  transition: all ease-in-out 0.2s;

  @include mixins.on-event {
    text-decoration: none;
    color: color.adjust(variables.$brand-color, $lightness: -15%);
  }
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  @include mixins.on-event {
    text-decoration: none;
  }
}

.btn-primary {
  padding: 0.8rem 1.5rem;
  color: variables.$light-grey;
  background: variables.$brand-color;
  border: none;
  transition: all ease-in-out 0.2s;
  @include mixins.on-event {
    color: variables.$light-grey !important;
    background: color.adjust(variables.$brand-color, $lightness: -15%);
  }
}

.btn-outlined-secondary {
  padding: 0.8rem 1.5rem;
  @include themes.themed {
    background: rgba(themes.t("secondary-color"), 0);
    color: themes.t("secondary-color");
    border: solid 2px themes.t("secondary-color");
  }
  transition: all ease-in-out 0.2s;
  @include mixins.on-event {
    @include themes.themed {
      background: rgba(themes.t("secondary-color"), 1);
      color: themes.t("primary-color");
    }
  }
}

.back-to-top-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.back-to-top {
  padding: 0.2rem;
  color: variables.$brand-color;
  @include themes.themed {
    background: rgba(themes.t("secondary-color"), 0.1);
    border: solid 3px rgba(themes.t("secondary-color"), 0.5);
  }

  cursor: pointer;
  display: inline-block;
  position: fixed !important;
  bottom: 1rem;
  right: auto;
  left: auto;
  z-index: 10;
  transition: all ease-in-out 0.3s;

  @include mixins.on-event {
    @include themes.themed {
      background: rgba(themes.t("primary-color"), 1);
    }
  }
}

.back-to-top-hide {
  display: none;
  transition: all ease-in-out 0.3s;
}

.btn-size-larg {
  width: 100%;
}

@media (max-width: map.get(variables.$breakpoints, "mobile large")) {
  .btn {
    font-size: 0.8rem;
  }
}
