@use "sass:map";

/**
 * Basic typography style for copy text
 */
body {
  font: normal 125% / 1.4 $text-font-stack;
}
/*----Secondary font text----*/

.secondary-font {
  font-family: $secondary-font-stack;
}

/*----text alignement----*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*----font weight----*/

.font-w-extra-thin {
  font-weight: 100;
}

.font-w-extra-light {
  font-weight: 200;
}

.font-w-light {
  font-weight: 300;
}

.font-w-regular {
  font-weight: 400;
}

.font-w-semi-medium {
  font-weight: 500;
}

.font-w-semi-bold {
  font-weight: 600;
}

.font-w-bold {
  font-weight: 700;
}

.font-w-extra-bold {
  font-weight: 800;
}

.font-w-Black {
  font-weight: 900;
}

/*----font color----*/
.font-secondary-color {
  @include themed {
    color: t("secondary-color");
  }
}

.font-brand-color {
  color: $brand-color;
}

.font-danger-color {
  @include themed {
    color: t("danger-color");
  }
}

.font-success-color {
  @include themed {
    color: t("success-color");
  }
}

.font-warning-color {
  @include themed {
    color: t("warning-color");
  }
}

.font-info-color {
  @include themed {
    color: t("info-color");
  }
}

.font-none {
  @include themed {
    color: rgba(t("secondary-color"), 0%);
  }
}

.font-brand-gradient-color {
  @include gradient-text(0deg, $brand-color, $orange-color);
}

.font-outlined {
  @include themed {
    color: t("primary-color");
    text-shadow: -1px -1px 0 t("secondary-color"),
      1px -1px 0 t("secondary-color"), -1px 1px 0 t("secondary-color"),
      1px 1px 0 t("secondary-color") !important;
  }
}

.font-animated-gradient-color {
  @include gradient-text-four-colors(20deg, #ee5425, #e71364, #089acf, #0bcea0);
  background-size: 200% 200%;
  animation: gradient-bg 10s ease infinite;
}

.dashed-shadow {
  position: relative;
  top: 8px;
  left: 8px;
  display: inline-block;
  @include themed {
    color: t("secondary-color");
  }

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -2px;
    right: -2px;
    z-index: 1;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIxMi41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIvPjxzdG9wIG9mZnNldD0iMTIuNSUiIHN0b3AtY29sb3I9IiNlOGUzYzciIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIzNy41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjM3LjUlIiBzdG9wLWNvbG9yPSIjZThlM2M3Ii8+PHN0b3Agb2Zmc2V0PSI2Mi41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIvPjxzdG9wIG9mZnNldD0iNjIuNSUiIHN0b3AtY29sb3I9IiNlOGUzYzciIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI4Ny41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9Ijg3LjUlIiBzdG9wLWNvbG9yPSIjZThlM2M3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
    background-size: 100%;
    @include themed {
      background-image: -moz-linear-gradient(
        45deg,
        t("primary-color") 12.5%,
        rgba(t("primary-color"), 0) 12.5%,
        rgba(t("primary-color"), 0) 37.5%,
        t("primary-color") 37.5%,
        t("primary-color") 62.5%,
        rgba(t("primary-color"), 0) 62.5%,
        rgba(t("primary-color"), 0) 87.5%,
        t("primary-color") 87.5%
      );
      background-image: -webkit-linear-gradient(
        45deg,
        t("primary-color") 12.5%,
        rgba(t("primary-color"), 0) 12.5%,
        rgba(t("primary-color"), 0) 37.5%,
        t("primary-color") 37.5%,
        t("primary-color") 62.5%,
        rgba(t("primary-color"), 0) 62.5%,
        rgba(t("primary-color"), 0) 87.5%,
        t("primary-color") 87.5%
      );
      background-image: linear-gradient(
        45deg,
        t("primary-color") 12.5%,
        rgba(t("primary-color"), 0) 12.5%,
        rgba(t("primary-color"), 0) 37.5%,
        t("primary-color") 37.5%,
        t("primary-color") 62.5%,
        rgba(t("primary-color"), 0) 62.5%,
        rgba(t("primary-color"), 0) 87.5%,
        t("primary-color") 87.5%
      );
    }
    background-size: 6px 6px;
  }

  &:hover:before {
    animation: dash-animation 30s infinite linear;
  }

  &:after {
    z-index: 2;
    content: attr(data-text);
    position: absolute;
    left: -8px;
    top: -8px;
    @include themed {
      color: t("secondary-color");
      text-shadow: 3px 3px t("primary-color");
    }
  }
}

@keyframes dash-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*----font size----*/
.font-big-hero {
  font-size: 6rem;
  line-height: 0.9;
  margin: 2rem 0;
}

.font-h1-unstyled {
  font-size: inherit;
  font-weight: normal;
}

.h2 {
  font-size: 3.5rem;
}

.h3 {
  font-size: 2rem;
}

.font-big-braket-top {
  font-size: 10rem;
  line-height: 0;
}

.font-big-braket-bottom {
  font-size: 10rem;
}

.dashed-shadow-text {
  font-size: 8rem;
  line-height: 0.7em;
}

@media (max-width: map.get($breakpoints, "tablet")) {
  .text-center-on-mobile {
    text-align: center;
  }

  .font-big-hero {
    font-size: 4rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .dashed-shadow-text {
    font-size: 6rem;
  }
}

@media (max-width: map.get($breakpoints, "mobile large")) {
  .font-big-hero {
    font-size: 3rem;
  }

  .h2 {
    font-size: 1.8rem;
  }

  .dashed-shadow-text {
    font-size: 4rem;
  }
}
