@use "sass:map";

header {
  z-index: 998;
  width: 100%;
  position: sticky;
  top: -1px;
  padding: 1.5% 0 !important;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 2.5rem;
    cursor: pointer;
  }

  label span {
    background: $text-color;
    border-radius: 0px;
    height: 0.5rem;
    margin: 0.2rem 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  .logo {
    width: 5rem;
    margin: auto;
    display: block;
  }

  span:nth-of-type(1) {
    width: 100%;
  }

  span:nth-of-type(2) {
    width: 100%;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    // transform: rotate(45deg) translate(0.5rem, 0.4rem);
    transform: rotatez(45deg) translate(0.5rem, 0rem);
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    // transform: rotate(-45deg);
    transform: rotatez(-45deg) translate(0.5rem, 0rem);
  }
}

@media (max-width: map.get($breakpoints, "tablet")) {
  header {
    padding: 2% 0 !important;

    .logo {
      width: 4rem;
    }
  }
}

@media (max-width: map.get($breakpoints, "mobile large")) {
  header {
    padding: 5% 0 !important;

    label {
      width: 2rem;
    }

    .logo {
      width: 3.5rem;
    }
  }
}
