@use "sass:map";

.link {
  cursor: pointer;
  text-decoration: none;
  color: $brand-color;
  transition: all ease-in-out 0.2s;

  @include on-event {
    text-decoration: none;
    color: darken($brand-color, 15%);
  }
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  @include on-event {
    text-decoration: none;
  }
}

.btn-primary {
  padding: 0.8rem 1.5rem;
  color: $light-grey;
  background: $brand-color;
  border: none;
  transition: all ease-in-out 0.2s;
  @include on-event {
    color: $light-grey !important;
    background: darken($brand-color, 15%);
  }
}

.btn-outlined-secondary {
  padding: 0.8rem 1.5rem;
  @include themed {
    background: rgba(t("secondary-color"), 0);
    color: t("secondary-color");
    border: solid 2px t("secondary-color");
  }
  transition: all ease-in-out 0.2s;
  @include on-event {
    @include themed {
      background: rgba(t("secondary-color"), 1);
      color: t("primary-color");
    }
  }
}

.back-to-top-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.back-to-top {
  padding: 0.2rem;
  color: $brand-color;
  @include themed {
    background: rgba(t("secondary-color"), 0.1);
    border: solid 3px rgba(t("secondary-color"), 0.5);
  }

  cursor: pointer;
  display: inline-block;
  position: fixed !important;
  bottom: 1rem;
  right: auto;
  left: auto;
  z-index: 10;
  transition: all ease-in-out 0.3s;

  @include on-event {
    @include themed {
      background: rgba(t("primary-color"), 1);
    }
  }
}

.back-to-top-hide {
  display: none;
  transition: all ease-in-out 0.3s;
}

.btn-size-larg {
  width: 100%;
}

@media (max-width: map.get($breakpoints, "mobile large")) {
  .btn {
    font-size: 0.8rem;
  }
}
