@use "sass:map";

.link {
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
}

.btn-primary {
  padding: 0.8rem 1.5rem;
  background: $brand-color;
  color: $light-grey;
  border: none;
  transition: all ease-in-out 0.2s;
}

.btn-primary:hover {
  background: darken($brand-color, 15%);
  color: $light-grey;
}

.back-to-top-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.back-to-top {
  padding: 0.2rem;
  color: $brand-color;
  background-color: rgba($dark-grey, 0.1);
  border: solid 3px rgba(251, 251, 251, 0.5);
  cursor: pointer;
  display: inline-block;
  position: fixed !important;
  bottom: 1rem;
  right: auto;
  left: auto;
  z-index: 99;
  transition: all ease-in-out 0.3s;
}

.back-to-top:hover {
  background-color: #c8c8c8;
}

.back-to-top-hide {
  display: none;
  transition: all ease-in-out 0.3s;
}

.btn-size-larg {
  width: 100%;
}

@media (max-width: map.get($breakpoints, "mobile large")) {
  .btn {
    font-size: 0.8rem;
  }
}
