.input {
  width: 100%;
  padding: 0.5rem 1rem;

  label {
    font-size: 0.8rem;
  }

  input,
  textarea {
    width: 100%;
    background: rgba($light-grey, 0%);
    padding: 0.3rem 0;
    border: none;
    @include themed {
      color: t("secondary-color");
      border-bottom: solid 2px rgba(t("secondary-color"), 60%);
    }
    transition: all ease-in-out 0.2s;
  }

  input::placeholder,
  textarea::placeholder {
    @include themed {
      color: rgba(t("secondary-color"), 60%);
    }
  }

  input:focus,
  textarea:focus {
    outline: none;
    @include themed {
      border-bottom: solid 4px rgba(t("secondary-color"), 60%);
    }
  }

  textarea {
    resize: none;
  }

  .input-message {
    font-size: 0.9rem;
  }
}
