@use "sass:map";

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  @include themed {
    background: rgba(t("secondary-color"), 0.3);
  }
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.show-modal-overlay {
  transform: scale(1);
  opacity: 1;
}

.hide-modal-overlay {
  transform: scale(0);
  opacity: 0;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 40vw;
  height: auto;
  padding: 1rem;
  @include themed {
    background: t("primary-color");
  }
}

.modal-header {
  text-align: right;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  color: $brand-color;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 0;
  transition: all ease-in-out 0.2s;
}

.close:hover,
.close:focus {
  color: darken($brand-color, 15%);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: map.get($breakpoints, "tablet")) {
  .modal {
    width: 80vw;
  }
}

@media (max-width: map.get($breakpoints, "mobile large")) {
  .modal {
    width: 100vw;
  }
}
